@import './_variable.scss';

.secondSection{
    background-color: $body-section-second;
    position: relative;
    height: 100vh;
}

.items-modal{
    display: flex;
    align-items: center;
    // width: 500px;
    // border: 1px solid black;

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $body-section;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
        margin-right: 10px;
    }
    .description{
        width: 230px;
        // border: 1px solid black;
        .item-title{
            font-family: 'Inter';
            letter-spacing: 1.8px;
            font-weight: 600;
            hr{
                width: 150px;
                border: none;
                height: 2px;
                background-color: $body-section;
                margin-bottom: 10px;
                margin-top: 5px;
            }
        }
        label{
            // font-size: 10px;
            text-align: justify;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            
        }
        a{
            display: flex;
            justify-content: end;
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: $body-section;
        }
    }
}

.second-section-container{
    display: flex;
    justify-content: end;
    flex-direction: column;
    // border: 1px solid black;
    height: 80vh;
}

//CIRCLING ANIMATION
.circle-container {
    width: 430px;
    height: 430px;
    border: 5px solid $body-section;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circling-green {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: $body-section;
    position: absolute;
    animation-duration: 10s; /* Slower animation, changed to 8 seconds */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.green1, .green2, .green3, .green4, .green5 {
    animation-name: circle; /* All circling-green elements use the same animation */
}

.green1 {
    animation-delay: 0s; /* No delay for the first element */
}

.green2 {
    animation-delay: 2s; /* 1-second delay for the second element */
}

.green3 {
    animation-delay: 4s; /* 2-second delay for the third element */
}

.green4 {
    animation-delay: 6s; /* 3-second delay for the fourth element */
}

.green5 {
    animation-delay: 8s; /* 4-second delay for the fifth element */
}

@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-225px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-225px) rotate(-360deg);
    }
}

//MODAL
/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal content */
.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto; /* 15% from the top and centered horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be adjusted to desired width */
    text-align: center;
}

.profileModal{ //Personal Info
    border-radius: 50px 200px 50px 50px;
    border: 2px solid #cecece;
    background: rgba(49, 49, 49, 0.70);
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.25);
    width: 85%;
    height: 90%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: $primary-white-text;
    // overflow: hidden;

    .main-prof-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        // border: 1px solid red;
        position: relative;

        //CONTENT PROFILE 1
        .content-prof1{
            // border: 1px solid red;
            display: flex;
            // justify-content: center;
            align-items: center;
            .AQCircle{
                font-family: 'Inter';
                font-weight: 700;
                font-size: 26px;
                color: $body-section;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                background: linear-gradient(140deg, #A3F9FF 12.94%, #E8C3FF 95.44%);
                border-radius: 50%;
            }
            .fullname{
                
                text-align: left;
                p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 4.7px;
                }
                label{
                    font-family: 'Lato';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: 1.275px;
                }
            }
        }

        //CONTENT PROFILE 2
        .content-prof2{
            font-family: 'Inter', sans-serif;
            height: 100%;
            width: 100%;
            padding: 20px;
            .first-border-prof{
                height: 50%;
                width: 60%;
                margin: 10px;
                padding: 10px;
                border-radius: 20px;
                border: 2px solid #AFF1FF;
                
                .personal-info-item{
                    text-align: left;
                    display: flex;
                    justify-content: space-between;
                    p{
                        margin-right: 100px;
                        margin-bottom: 10px;
                        color: $primary-white-text;
                    }
                    label{
                        color: $secondary-white-text;
                        text-align: left;
                        margin-left: 50px;
                    }
                }
            }

            .header-sec-prof{
                display: flex;
                justify-content: start;
                margin-left: 15px;
                margin-bottom: 5px;
            }

            .second-border-prof{
                border: 2px solid #AFF1FF;
                width: 93%;
                height: 35%;
                overflow-y: auto;
                border-radius: 20px;
                padding: 20px;

                .container-item{
                    cursor: pointer;
                    display: flex;
                    // background-color: #E8C3FF;
                    border: 1px solid $tertiary-white-text;
                    width: auto;
                    height: auto;
                    border-radius:5px;
                    padding: 5px;
                    margin-bottom: 10px;
                    i{
                        margin-right: 10px;
                    }
                    &:hover{
                        background-color: rgb(187, 132, 212);
                    }
                }
            }
        }
    }

    img{
        position: absolute;
        top: 300px;
        left: 600px;
        width: 500px;
        height: 500px;
    }
}

.educationModal{
    border-radius: 50px 200px 50px 50px;
    border: 2px solid #cecece;
    background: rgba(49, 49, 49, 0.70);
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.25);
    width: 85%;
    height: 80%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: $primary-white-text;
}
.tab-content{
    width: 100%;
    height: 90%;
}
.tab1-main{
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    display: flex;

    .tab1-left{
        // border: 1px solid blue;
        margin-top: 3%;
        width: 60%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 20px;
        // position: relative;

        // SLIDER
        .slider {
            border: 1px solid red;
            width: 100%;
            height: 100%;
            display: flex;
            transition: transform 2s ease; /* Animation duration and easing */
        }

        .slider img {
            width: auto;
            height: 100%;
            object-fit: contain;
            max-width: none;
        }
    }

    .tab2-right{
        width: 100%;
        height: 100%;
        
        .tab2-text{
            margin-left: 40px;
            height: 55%;
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
        }

        .inika-font{
            font-family: 'Inika';
        }

        .lexend-font{
            color:$primary-white-text;
            font-family: 'Lexend Exa', sans-serif;
            font-size: 64px;
            margin-bottom: 5px;
        }
        .smallerSize{
            font-size: 50px;
        }

        .inter-font{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 5.5px;
            margin-bottom: 5px;
        }

        .tab2-card-images{
            font-family: 'Lexend Exa', sans-serif;
            height: 40%;
            display: flex;
            justify-content: space-evenly;
            align-items: end;
            // border: 1px solid white;
            .text-card-img{
                position: relative;
                text-align: left;
                display: flex;
                flex-direction: column;
                // align-items: center;
                .one-text{
                    font-size: 20px;
                    position: absolute;
                    left: 15px;
                    top: 8px;
                }
            }
            .card{
                img{
                    width: 200px;
                    height: auto;
                    border-radius: 20px;
                }
            }
            .onebigcard{
                img{
                    width: 200px;
                    height: 220px;
                    border-radius: 20px;
                }
            }
        }
    }
}

/* Close button */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

// TABS
.tabs {
    text-align: left;
    // margin-top: 20px;
    display: flex;
  }
  
  .tab-button {
    background-color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .tab-content {
    display: none;
    /* ... other tab content styles ... */
  }
  
  /* Style the active tab button */
  .tab-button.active {
    background-color: #ccc;
  }
  
  /* Display the active tab content */
  .tab-content.active {
    display: block;
  }

// SLIDER
/* Styles for the slider container */
.tab1-left {
    position: relative;
}

/* Style for the overlay */
.overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    display: none;
    justify-content: center;
    align-items: center;
}

/* Style for the overlay content */
.overlay-content {
    text-align: center;
    color: white;
}

/* Style for the logo */
.overlay-content img {
    max-width: 100px; /* Adjust the size as needed */
}

/* Show the overlay on hover */
.tab1-left:hover .overlay {
    display: flex;
}

.by-paragh{
    font-family: 'Inter';
    padding: 15px;
    text-align: justify;
    p{
        font-size: 12px;
    }
}

.button-con{
    display: flex;
    justify-content: end;
    button{
        cursor: pointer;
        width: 100px;
        height: 25px;
        margin-right: 20px;
        border: none;
        border-radius: 5px;
        background: linear-gradient(90deg, #A3F9FF 4.78%, #E8C3FF 100%);
        &:hover{
            box-shadow: 0px 0px 20px 10px rgba(143, 227, 241, 0.25);
        }
    }
}