$body-section: #1F232F;
$body-section-second: #A5E5FA;

// Text-color
$primary-white-text: #F3F3F3; //header
$secondary-white-text: #D9D9D9; //subheader
$tertiary-white-text: #858585; //disabled

$primary-blue-text: #82CAFF;

//Pallete Color
$pallete-blue-color: #A3F9FF; 
$pallete-pink-color: #E8C3FF; 

